.container {
    display: flex;
    /* Vertical flex */
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.box {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}


@media (min-width: 600px) {
    .box {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .box {
        width: 33.33%;
    }
}