<div class="table-container">
    <table class="table table-container is-fullwidth">
        <thead>
            <tr>
                <th>Week</th>
                <th>Topic</th>
                <th>Readings & Notes</th>
                <th>Assignment & Labs</th>
            </tr>
        </thead>
        <tbody>
            {{ range $.Page.Site.Data.calendar}}
            {{ if .week }}
            <tr class="event_row row_{{ .week }}">
                <td class="event_col" colspan="4">
                    <progress class="progress is-dark" value={{ .week }} max={{ sub (len $.Page.Site.Data.calendar)
                        1}}>45%</progress>
                </td>
            </tr>

            {{ end }}
            {{ if .event }}
            <tr class="event_row row_{{ .week }}">
                <td class="event_col" colspan="4">
                    <div class="icon-text">
                        <span class="icon has-text-info">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="tag is-info">{{ .event.description }}</span>
                    </div>
                </td>
            </tr>
            {{ end }}
            <tr class="row_{{ .week }}">
                <td>
                    <ul>
                        <li>{{ .week }}</li>
                        <li class="date-item">{{ .date }}</li>
                    </ul>
                </td>
                <td>
                    {{ range .topics }}
                    <ul>
                        <li>{{.}}</li>
                    </ul>
                    {{end}}
                    <ul>
                        {{ if and (.slides) (gt (len .slides) 0) }}
                        <br />
                        <span
                            style="display:block; margin: 2px 0px; padding: 5px 2px; border: 2px solid #204e39; border-radius: 5px;  background-color: #000000; color: #fff;">
                            <i class="far fa-file-powerpoint"></i> Lecture slides:
                        </span>

                        {{range .slides}}
                        <li><a href={{.link}} target="_blank" class="slide-link">{{.title}}</a></li>
                        {{end}} {{end}}
                    </ul>
                    <ul>
                        {{ if and (.notes) (gt (len .notes) 0) }}
                        <br />
                        <span
                            style="display:block; margin: 2px 0px; padding: 2px 2px; border: 2px solid #204e39; border-radius: 5px;  background-color: #000000; color: #fff;">
                            <i class="fa-solid fa-pen"></i> Lecture notes:
                        </span>
                        {{range .notes}}
                        <li><a href={{.link}} class="slide-link">{{.title}}</a></li>
                        {{end}}{{end}}
                    </ul>
                </td>
                <td>
                    {{ range .readings }}
                    <ul class="readings-list">
                        {{if .link}}
                        <li><a href={{.link}} class="slide-link">{{.title}}</a></li>
                        {{else}}
                        <li>{{.title}}</li>
                        {{end}}
                    </ul>
                    {{ end }}
                </td>
                <td>
                    {{ range .assignments }}
                    <div class="tags has-addons">
                        <span class="tag is-link"><a href={{.link}} class="white-link">{{.title}}</a></span>
                    </div>
                    {{ end }}
                    {{ range .labs }}
                    <ul>
                        {{if .}}
                        <li><a href=/labs/lab-{{.}} class="slide-link">Lab {{.}}</a></li>
                        {{end}}
                    </ul>
                    {{ end }}
                </td>
            </tr>

            {{ end }}
        </tbody>
    </table>
</div>

<script>
    // Spring 2024: first day of classes: January 14th, 2024; last day of classes: June 6th, 2024.
    var startDate = new Date("2024-01-14");

    var activeWeek = Math.floor((new Date() - startDate) / (1000 * 7 * 24 * 60 * 60)) + 1

    if (activeWeek > 0 && activeWeek < 16) {
        var currentRows = document.getElementsByClassName("row_" + activeWeek);
        [].forEach.call(currentRows, (row) => {
            row.classList.add("is-selected");
        });
        count = activeWeek - 1;
        while (count > 0) {
            var pastRows = document.getElementsByClassName("row_" + count);
            [].forEach.call(pastRows, (row) => {
                row.classList.add("is-passed");
            });
            count = count - 1;
        }
    }
</script>