.table tr.is-selected {
    background-color: #252525;
    color: #fff;
}


.table tr td.event_col {
    border-style: none;
}

.is-passed {
    background-color: #d3d3d3;
}

.footer {
    color: #000000;
    background-color: #f5f5f5;
}

footer.footer div.content p {
    margin: 0em;
}

h1.hero-title {
    color: #000 !important;
}

.date-item {
    color: #353535;
}

.table .is-selected .date-item {
    color: #fff;
}


a.slide-link {
    text-decoration: underline;
}

ul.square-list {
    list-style: square;
}

a.white-link,
a.white-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.to-right {
    float: right;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #eee;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li,
#toc_container ul,
#toc_container ul li {
    list-style: outside none none !important;
}

span.lecture-slides {
    color: #680068;
    font-weight: 500;
    margin: 20px 0;
}

img {
    border: 1px solid #ccc;
}

code.language-bash span span::before {
    content: "$ ";
}